// Import

// Variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bgc-search: #F6F6F6;

$font: (
  text: Roboto,
  logo: Shrikhand,
  default: sans-serif
);

// Mixin
@mixin font-family ($font-primary, $font-secondary){
  $font-primary: map-get($font, $font-primary);
  $font-secondary: map-get($font, $font-secondary);
  font-family: $font-primary, $font-secondary;
}


// Fonctions

// Placeholders

// Contenu général
:root {
  font-size: 10px;
  line-height: 1;

}

body {
  line-height : 1;
}

a {
  text-decoration: none;
}

/* HEADER */


.header {
  display: flex;
  padding : 17.25px 0px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px silver;
  position: relative;
  z-index: 2;
  &.menu-page {
  }
  &__link {
    &.menu-page {
      position: absolute;
      left: 20px;
    }
  }
  &__logo {
    height: 28.5px;
    &.menu-page {
      height: 28.5px;
      object-fit: contain;
    }
  }
  &__arrow {
    font-size: 1.8rem;
    color: #000000;
  }
}

/* ACCUEIL - SECTION de RECHERCHE */
.search-section {
    background-color: $bgc-search;
  &__form {
    background-color: darken($bgc-search, 5%);
  }
}


/* ACCUEIL - ASIDE = SECTION Fonctionnement */
.process__card-text {
  display: inline-block;
}

/* ACCUEIL - SECTION PRINCIPALE = LISTE Restaurants */
.restaurant-card__info {
  display:grid;
  grid-template-areas:
  "restaurant-card__name restaurant-card__like-button"
  "restaurant-card__place restaurant-card__like-button";

}

.restaurant-card__name {
  grid-area: restaurant-card__name;
}
.restaurant-card__place {
  grid-area: restaurant-card__place;
}

.restaurant-card__like-button {
  grid-area: restaurant-card__like-button;
}
/* PAGES MENU - MAIN */
.starters-section__item-price, .plates-section__item-price, .desserts-section__item-price {
  display:inline-block;
}

/* PAGES MENU - MAIN - Header */
.main-header__heading {
  display: inline-block;
}
/* PAGES MENU - MAIN - Entrées */


/* PAGES MENU - MAIN - Plats */

/* PAGES MENU - MAIN - Desserts */

/* FOOTER */
.footer {
  background-color: #353535;
  color: #FFF;
  padding: 23px 0px 30px 20px;
  &__heading {
    @include font-family (logo, default);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 20px;
  }
  &__list {
    list-style: none;
    &-item {
      @include font-family (text, default);
      padding-bottom: 5px;
    }
    &-icon {
      color: #FFF;
      height: 15px;
      width: 15px;
      font-size: 1.5rem;
      margin-right: 10px;
    }
    &-link {
      font-size: 1.6rem;
      color:#FFF;
      line-height: 20px;
    }
  }

}



