@charset "UTF-8";
:root {
  font-size: 10px;
  line-height: 1;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
}

/* HEADER */
.header {
  display: flex;
  padding: 17.25px 0;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px silver;
  position: relative;
  z-index: 2;
}
.header__link.menu-page {
  position: absolute;
  left: 20px;
}
.header__logo {
  height: 28.5px;
}
.header__logo.menu-page {
  height: 28.5px;
  object-fit: contain;
}
.header__arrow {
  font-size: 1.8rem;
  color: #000000;
}

/* ACCUEIL - SECTION de RECHERCHE */
.search-section {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 20px 57px 20px;
}
.search-section__form {
  background-color: #e9e9e9;
  text-align: center;
  margin: 0 -20px;
  height: 50px;
}
.search-section__form-label {
  line-height: 50px;
}
.search-section__form-icon {
  font-size: 1.5rem;
}
.search-section__form-input {
  font-family: Roboto, sans-serif;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: black;
  line-height: 50px;
  background-color: #e9e9e9;
  text-align: center;
  width: calc(100% - 240px);
}
.search-section__heading {
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  padding: 0 40px;
  margin: 43px 0 20px 0;
}
.search-section__description {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  line-height: 19px;
  margin-bottom: 34px;
}
.search-section__button {
  align-self: center;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  width: 218px;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  background: linear-gradient(0deg, #9b63df 0%, #ff88de 120%);
}

/* ACCUEIL - ASIDE = SECTION Fonctionnement */
.process-section {
  display: grid;
  grid-template-areas: "process-section__header" "process-section__card-1" "process-section__card-2" "process-section__card-3";
  row-gap: 24px;
  background-color: #FFFFFF;
  padding: 50px 20px 68px 20px;
}
.process-section__header {
  grid-area: process-section__header;
  padding-bottom: 6px;
}
.process-section__heading {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 25px;
  color: black;
}
.process-section__card {
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0 5px 10px silver;
  user-select: none;
}
.process-section__card:hover {
  background-color: #F5EDFF;
}
.process-section__card:hover .process-section__card-icon {
  color: #9356DC;
}
.process-section__card.process-section__card-1 {
  grid-area: process-section__card-1;
}
.process-section__card.process-section__card-2 {
  grid-area: process-section__card-2;
}
.process-section__card.process-section__card-3 {
  grid-area: process-section__card-3;
}
.process-section__card-number {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  left: 10px;
  margin: 24px 0;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  line-height: 25px;
  width: 25px;
  text-align: center;
}
.process-section__card-icon {
  line-height: 25px !important;
  font-size: 1.5rem;
  color: #666666;
  margin: 24px 5.5% 24px 11%;
  width: 20px;
}
.process-section__card-text {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 73px;
  cursor: default;
}

/* ACCUEIL - SECTION PRINCIPALE = LISTE Restaurants */
.restaurants-section {
  background-color: #F6F6F6;
  display: grid;
  grid-template-areas: "restaurants" "restaurant-card-1" "restaurant-card-2" "restaurant-card-3" "restaurant-card-4";
  row-gap: 18px;
  padding: 58px 20px 64px 20px;
}

.restaurants {
  grid-area: restaurants;
}
.restaurants__heading {
  font-family: Roboto, sans-serif;
  line-height: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 8px;
}

.restaurant-card {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 1px silver;
  cursor: pointer;
}
.restaurant-card.restaurant-card-1 {
  grid-area: restaurant-card-1;
}
.restaurant-card.restaurant-card-2 {
  grid-area: restaurant-card-2;
}
.restaurant-card.restaurant-card-3 {
  grid-area: restaurant-card-3;
}
.restaurant-card.restaurant-card-4 {
  grid-area: restaurant-card-4;
}

.restaurant-card__img {
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurant-card__new {
  position: absolute;
  z-index: 2;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 29px;
  width: 81px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  right: 32px;
  margin-top: 12px;
}

.restaurant-card__info {
  display: grid;
  grid-template-areas: "restaurant-card__name . restaurant-card__like-button" "restaurant-card__place . restaurant-card__like-button";
  grid-template-columns: auto 1fr auto;
  padding: 12px;
}

.restaurant-card__name {
  grid-area: restaurant-card__name;
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 25px;
  padding-top: 3px;
}

.restaurant-card__place {
  grid-area: restaurant-card__place;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 5px;
}

.restaurant-card__like-button {
  grid-area: restaurant-card__like-button;
  justify-self: center;
  border: none;
  background-color: white;
  padding: 0 11px;
  cursor: pointer;
}

.restaurant-card__icon {
  font-size: 2.5rem;
  font-weight: 100;
}

/* PAGES MENU - MAIN */
.starters-section__item-price, .plates-section__item-price, .desserts-section__item-price {
  display: inline-block;
}

/* PAGES MENU - MAIN - Header */
.main {
  padding: 0 20px;
  background-color: #F6F6F6;
}
.main.menu-page {
  display: grid;
  grid-template-areas: "starters-section" "plates-section" "desserts-section";
}
.main-header {
  margin: 0 -20px 0 -20px;
}
.main-header__img {
  height: 220px;
  object-fit: cover;
}
.main-header__heading {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 30px;
  padding: 0 20px;
}

.menu-section {
  display: grid;
  grid-template-areas: "menu-heading" "menu-item-1" "menu-item-2" "menu-item-3";
  row-gap: 13px;
}
.menu-section h2 {
  grid-area: menu-heading;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 33px;
}
.menu-section div {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  height: 68px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px silver;
  cursor: pointer;
}
.menu-section h3 {
  line-height: 25px;
}
.menu-section p {
  line-height: 25px;
  margin-bottom: 3px;
}

.starters-section__item-1 {
  grid-area: menu-item-1;
}
.starters-section__item-2 {
  grid-area: menu-item-2;
}
.starters-section__item-3 {
  grid-area: menu-item-3;
}

/* PAGES MENU - MAIN - Entrées */
/* PAGES MENU - MAIN - Plats */
/* PAGES MENU - MAIN - Desserts */
/* FOOTER */
.footer {
  background-color: #353535;
  color: #FFF;
  padding: 23px 0 30px 20px;
}
.footer__heading {
  font-family: Shrikhand, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.footer__list {
  list-style: none;
}
.footer__list-item {
  font-family: Roboto, sans-serif;
  padding-bottom: 5px;
}
.footer__list-icon {
  color: #FFF;
  height: 15px;
  width: 15px;
  font-size: 1.5rem;
  margin-right: 10px;
}
.footer__list-link {
  font-size: 1.6rem;
  color: #FFF;
  line-height: 20px;
}

/*# sourceMappingURL=main.css.map */
