// IMPORT

// VARIABLES
//Variables - Couleurs
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$bgc-primary: #f6f6f6;

//Variables - Polices
$font: (
    text: Roboto,
    logo: Shrikhand,
    default: sans-serif,
);

//Variables - Media queries
$breakpoints: (
         mobile-1: 360px,
        tablet-1: 520px,
        tablet-2: 620px,
        tablet-3: 720px,
        tablet-4: 800px,
        desktop-1: 1024px,
        desktop-2: 1220px,
        desktop-3: 1440px
);

//Variables - Grid
$grid-ta__process-section--mobile: ("process-section__card-1" "process-section__card-2" "process-section__card-3");
$grid-ta__process-section--tablet:("process-section__card-1 process-section__card-1 process-section__card-2 process-section__card-2"". process-section__card-3 process-section__card-3 .");
$grid-ta__process-section--desktop: ("process-section__card-1 process-section__card-2 process-section__card-3");
$grid-ta__restaurant-section--mobile: ("restaurants" "restaurant-article-1" "restaurant-article-2" "restaurant-article-3" "restaurant-article-4");
$grid-ta__restaurant-section--tablet: ("restaurants restaurants" "restaurant-article-1 restaurant-article-2" "restaurant-article-3 restaurant-article-4");
$grid-ta__restaurant-section--desktop: ("restaurants restaurants restaurants restaurants" "restaurant-article-1 restaurant-article-2 restaurant-article-3 restaurant-article-4");
$grid-ta__restaurant-card: ("restaurant-card__name . restaurant-card__like" "restaurant-card__place . restaurant-card__like");
$grid-ta__menu-page--mobile: ("starters-section" "plates-section" "desserts-section");
$grid-ta__menu-page--tablet: ("starters-section starters-section plates-section plates-section" ". desserts-section desserts-section ." ". command-button command-button .");
$grid-ta__menu-page--desktop: ("starters-section plates-section desserts-section"". command-button .");
$grid-ta__menu-section--starters: ("starters-section__heading" "starters-section__label-1" "starters-section__label-2" "starters-section__label-3");
$grid-ta__menu-section--starters-special:("starters-section__heading" "starters-section__label-1" "starters-section__label-2" "starters-section__label-3" "starters-section__label-4");
$grid-ta__menu-section--plates:("plates-section__heading" "plates-section__label-1" "plates-section__label-2" "plates-section__label-3");
$grid-ta__menu-section--plates-special:("plates-section__heading" "plates-section__label-1" "plates-section__label-2" "plates-section__label-3" ".");
$grid-ta__menu-section--desserts:("desserts-section__heading" "desserts-section__label-1" "desserts-section__label-2" "desserts-section__label-3");
$grid-ta__menu-section--desserts-special:("desserts-section__heading" "desserts-section__label-1" "desserts-section__label-2" "desserts-section__label-3" ".");
$grid-ta__menu-label: ("label-heading ." "label-complement label-price");

//Variables - Special
$counter: 1, 2, 3, 4;

// MIXINS
//Mixins - Font
@mixin font-family($font-primary, $font-secondary) {
    $font-primary: map-get($font, $font-primary);
    $font-secondary: map-get($font, $font-secondary);
    font-family: $font-primary, $font-secondary;
}
@mixin button-description {
    @include font-family(text, default);
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 50px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(
        to top left,
        $color-primary 15%,
        $color-secondary 95%);
    box-shadow: 1px 3px 5px silver;
}
@mixin button-hover {
    &:hover {
        box-shadow: 2px 5px 5px 1px silver;
        background: linear-gradient(
            to top left,
            lighten($color-primary, 10%) 10%,
            lighten($color-secondary, 10%) 75%
        );
    }
}

@mixin heart-description-empty {
    position:absolute;
    border: none;
    font-size: 2.5rem;
    font-weight: 100;
    cursor: pointer;
    color:#000000;
        }

@mixin heart-description-full {
    position: absolute;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: transparent;
        }

@mixin heart-empty-hover {
    transition: opacity 200ms;
    transition-delay: 300ms;
    opacity: 0;
            }

@mixin heart-full-hover {
    background: radial-gradient($color-secondary 10%, $color-primary 40%);
    -webkit-background-clip: text;
    background-size: 100% 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    animation: heart-filling 600ms linear;
            }

//Mixins - Layout
@mixin grid-layout($grid-template-areas) {
    display: grid;
    grid-template-areas: $grid-template-areas;
}

@mixin process-section__card {
    @for $counter from 1 through 3 {
        .process-section__card-#{$counter} {
            grid-area: process-section__card-#{$counter};
            &::before {
                display: inline-block;
                @include font-family(text, default);
                font-size: 1.2rem;
                font-weight: 400;
                position: relative;
                content: "#{$counter}";
                top: -2.5px;
                left: calc(-25px / 2);
                margin: 24px 0;
                color: #ffffff;
                background-color: $color-primary;
                border-radius: 25px;
                line-height: 25px;
                width: 25px;
                height: 25px;
                text-align: center;
            }
        }
    }
}

@keyframes heart-filling {
    0% {
        background-size: 100% 0;
    }
    100% {
        background-size: 100% 100%;
    }
}

@keyframes menu-animation {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes loading-spinner {
    0% {
opacity : 1;
        transform: scale(2);
    }
    95% {
opacity: 0.9
    }
    99% {
        transform:scale(1);
    }
    100% {
opacity: 0;
        transform: scale(0);
    }
}

// Fonctions

// Placeholders

// Contenu général
:root {
    font-size: 10px;
    line-height: 1;
}

body {
    line-height: 1;
}

a {
    text-decoration: none;
    color: #000000;
}

/* LOADING SPINNER */
.loading-spinner {
    display: none;
position: fixed;
    z-index: 100;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0;
    background-color: white;
    animation: loading-spinner 3000ms ease-in-out;
}

/* HEADER */
.header {
    display: flex;
    padding: 17.25px 0;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0 15px silver;
    position: relative;
    z-index: 2;

    &__link {
        &.menu-page {
            position: absolute;
            left: 20px;
        }
    }

    &__heading {
        @include font-family(logo, default);
        font-size: 3rem;
        line-height: 28.5px;

        &.menu-page {
            @include font-family(logo, default);
            font-size: 3rem;
            line-height: 28.5px;
            user-select: none;
        }
    }

    &__arrow {
        font-size: 1.8rem;
        color: #000000;
    }
}

/* ACCUEIL - SECTION de RECHERCHE */
.search-section {
    background-color: $bgc-primary;

    &__form {
        text-align: center;

        &-top {
            background-color: darken($bgc-primary, 5%);
            @media (min-width: map-get($breakpoints, desktop-1)) {
                padding: 0 20%;
            }
        }

        &-label {
        }

        &-icon.fas {
            font-size: 1.5rem;
            line-height: 50px;
        }

        &-input {
            border: none;
            background-color: darken($bgc-primary, 5%);
            @include font-family(text, default);
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 48px;
            text-align: center;
            width: 40%;
            margin-top: 2px;

            &::placeholder {
                @include font-family(text, default);
                font-size: 1.6rem;
                font-weight: 500;
            }

            &:focus {
                outline: 2px solid $color-primary;
                color: darken($color-primary, 20%);
                background-color: $bgc-primary;
            }
        }

        &-heading {
            @include font-family(text, default);
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 25px;
            padding: 40px 65px 20px 65px;
        }

        &-description {
            @include font-family(text, default);
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 20px;
            padding: 0 20px 30px 20px;
        }

        &-button {
            @include button-description;
            padding: 0 50px;
            margin-bottom: 57px;
            @include button-hover;
        }
    }
}

/* ACCUEIL - SECTION Process */
@include process-section__card;
.process-section {
    background-color: #ffffff;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 66px;
    padding-left: calc((25px / 2) + 20px);
    @media (min-width: map-get($breakpoints, desktop-1)) {
        padding-left: calc((25px / 2) + 50px);
        padding-right: 50px;
    }

    &__heading {
        @include font-family(text, default);
        font-size: 2rem;
        font-weight: 500;
        line-height: 25px;
        padding-bottom: 30px;
        color: black;
    }

    &__list {
        @include grid-layout ($grid-ta__process-section--mobile);
        row-gap: 24px;
        @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, desktop-1)) {
            @include grid-layout ($grid-ta__process-section--tablet);
            grid-template-columns: repeat(4, 1fr);
            column-gap: 24px;
        }
        @media (min-width: map-get($breakpoints, desktop-1)) {
            @include grid-layout ($grid-ta__process-section--desktop);
            grid-template-columns: repeat(3, 1fr);
            row-gap: 0;
            column-gap: 24px;
        }
    }

    &__card {
        background-color: $bgc-primary;
        border-radius: 20px;
        box-shadow: 0 5px 10px silver;
        @include font-family(text, default);
        font-size: 1.6rem;
        font-weight: 600;
        user-select: none;

        &.process-section__card-3 {
            background-color: #f5edff;
        }

        &.process-section__card-3 .process-section__card-icon {
            color: $color-primary;
        }

        &-icon.fas {
            line-height: 25px;
            font-size: 1.5rem;
            color: lighten(#000000, 40%);
            padding: 0 32.5px 0 7.5px;
            width: 25px;
        }
    }
}

/* ACCUEIL - SECTION PRINCIPALE = LISTE Restaurants */
.restaurant {
    grid-area: restaurants;

    &-section {
        background-color: $bgc-primary;
        @include grid-layout ($grid-ta__restaurant-section--mobile);
        row-gap: 18px;
        padding: 58px 20px 64px 20px;
        @media (min-width: map-get($breakpoints, tablet-1)) and (max-width: map-get($breakpoints, desktop-3)){
            @include grid-layout ($grid-ta__restaurant-section--tablet);
            gap: 18px;
        }
        @media (min-width: map-get($breakpoints, desktop-1)) {
            @include grid-layout ($grid-ta__restaurant-section--desktop);
            grid-template-columns: repeat(4, 1fr);
            column-gap: 18px;
            row-gap: 0;
            padding: 58px 50px 64px 50px;
        }
    }

    &__heading {
        @include font-family(text, default);
        line-height: 20px;
        font-size: 2.4rem;
        font-weight: 700;
        padding-bottom: 8px;

    }

    &-article {
        &.restaurant-article-1 {
            grid-area: restaurant-article-1;
        }

        &.restaurant-article-2 {
            grid-area: restaurant-article-2;
        }

        &.restaurant-article-3 {
            grid-area: restaurant-article-3;
        }

        &.restaurant-article-4 {
            grid-area: restaurant-article-4;
        }
    }
        &-card {
            position:relative;
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 1px 3px 8px 1px silver;
            cursor: pointer;

        &__img {
            height: 174px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__new {
            position: absolute;
            top: 13px;
            right: 13px;
            z-index: 2;
            @include font-family(text, default);
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 29px;
            width: 81px;
            border-radius: 2px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
        }

        &__info {
            @include grid-layout ($grid-ta__restaurant-card);
            grid-template-columns: auto 1fr auto;
            padding: 12px;
        }

        &__name {
            grid-area: restaurant-card__name;
            @include font-family(text, default);
            font-size: 1.7rem;
            font-weight: 800;
            line-height: 25px;
            padding-top: 3px;
       }

       &__place {
           grid-area: restaurant-card__place;
           @include font-family(text, default);
           font-size: 1.6rem;
           font-weight: 300;
           line-height: 20px;
           padding-bottom: 5px;
       }

       &__icon {
           &.heart-icon__empty {
               @include heart-description-empty;
               background-color: #ffffff;
               padding: 0 11px;
               line-height: 53px;
          }
          &.heart-icon__full {
              @include heart-description-full;
              padding: 0 11px;
              line-height: 53px;
         }
     }

     &__like {
         grid-area: restaurant-card__like;
         position:relative;
         right: 40px;
         &:hover {
             .heart-icon__empty {
                 @include heart-empty-hover;
             }
             .heart-icon__full {
                 @include heart-full-hover;
             }
         }
     }
 }
}

/* PAGES MENU - MAIN */
.starters-section__label-price,
.plates-section__label-price,
.desserts-section__label-price {
    display: inline-block;
}

/* PAGES MENU - MAIN - Header */
.main {
    padding-bottom:33px;
    background-color: $bgc-primary;

    &.menu-page {
    }

    &-header {


        &__img {
            height: 257px;
            object-fit: cover;
            margin-bottom: -37px;
        }

        &__menu-header {
            display: flex;
            justify-content: space-between;
            background-color: $bgc-primary;
            border-radius: 37px 37px 0 0;
            position: relative;
            z-index: 10;
            padding: 37px 37px 0 20px;
            @media (min-width: map-get($breakpoints, tablet-4)) {
                padding: 37px 87px 0 50px;
            }
        }

        &__restaurant-name {
            @include font-family(logo, default);
            font-size: 2.7rem;
            font-weight: 700;
            line-height: 25px;
            @media (max-width: map-get($breakpoints, mobile-1)) {
                font-size: 2.3rem;
            }
        }

        &__icon {
            &.heart-icon__empty {
                @include heart-description-empty;
                right: 0;
                background-color: $bgc-primary;
                line-height: 25px;
            }

            &.heart-icon__full {
                @include heart-description-full;
                right: 0;
                line-height: 25px;
            }
        }

        &__like {
            position:relative;
            &:hover {
                .heart-icon__empty {
                    @include heart-empty-hover;
                }

                .heart-icon__full {
                    @include heart-full-hover;
                }
            }
        }
    }
}

// Mise en place grille des menus
.menu-form {
    @include grid-layout($grid-ta__menu-page--mobile);
    padding: 0 12px 0 14px;

    @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, desktop-1)) {
        @include grid-layout($grid-ta__menu-page--tablet);
        grid-template-columns: repeat(4, 1fr);
        column-gap: 14px;
    }
    @media (min-width: map-get($breakpoints, tablet-4)) {
        padding: 0 50px;
    }
    @media (min-width: map-get($breakpoints, desktop-1)) {
        @include grid-layout($grid-ta__menu-page--desktop);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
    }
}

.starters-section {
    &__heading {
        grid-area: starters-section__heading;
    }
    &__label {
        &-1 {
            grid-area: starters-section__label-1;
            animation: menu-animation 1s both;
            animation-delay: 100ms;
        }
        &-2 {
            grid-area: starters-section__label-2;
            animation: menu-animation 1s both;
            animation-delay: 100ms;
        }
        &-3 {
            grid-area: starters-section__label-3;
            animation: menu-animation 1s both;
            animation-delay: 100ms;
        }
        &-4 {
            grid-area: starters-section__label-4;
            animation: menu-animation 1s both;
            animation-delay: 100ms;
        }
    }
}

.plates-section {
    &__heading {
        grid-area: plates-section__heading;
    }
    &__label {
        &-1 {
            grid-area: plates-section__label-1;
            animation: menu-animation 1s both;
            animation-delay: 400ms;
        }
        &-2 {
            grid-area: plates-section__label-2;
            animation: menu-animation 1s both;
            animation-delay: 400ms;
        }
        &-3 {
            grid-area: plates-section__label-3;
            animation: menu-animation 1s both;
            animation-delay: 400ms;
        }
    }
}
.desserts-section {
    &__heading {
        grid-area: desserts-section__heading;
    }
    &__label {
        &-1 {
            grid-area: desserts-section__label-1;
            animation: menu-animation 1s both;
            animation-delay: 700ms;
        }
        &-2 {
            grid-area: desserts-section__label-2;
            animation: menu-animation 1s both;
            animation-delay: 700ms;
        }
        &-3 {
            grid-area: desserts-section__label-3;
            animation: menu-animation 1s both;
            animation-delay: 700ms;
        }
    }
}

.menu-section {
    border: none;

    &.starters-section {
        grid-area: starters-section;
        @include grid-layout ($grid-ta__menu-section--starters);
        row-gap: 14px;

        &.special {
            grid-area: starters-section;
            @include grid-layout($grid-ta__menu-section--starters-special);
            row-gap: 14px;
        }
    }

    &.plates-section {
        grid-area: plates-section;
        @include grid-layout($grid-ta__menu-section--plates);
        row-gap: 14px;
        &.special {
            @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, desktop-1)) {
            grid-template-areas: $grid-ta__menu-section--plates-special;
            grid-template-rows: auto repeat(4, 1fr);
}
        }
    }

    &.desserts-section {
        grid-area: desserts-section;
        @include grid-layout($grid-ta__menu-section--desserts);
        row-gap: 14px;

        &.special {
            @media (min-width: map-get($breakpoints, desktop-1)) {
                grid-template-areas: $grid-ta__menu-section--desserts-special;
                grid-template-rows: auto repeat(4, 1fr);
            }
        }
    }

    &__heading {
        @include font-family(text, default);
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 34px 0 0 6px;
        line-height: 30px;
        height: 67px;

        &::after {
            display: block;
            content: "";
            height: 0;
            width: 40px;
            border-bottom: 3px solid $color-tertiary;
        }
    }

    input {
        display: none;
    }

    &__label {
        padding: 10px;
        @include font-family(text, default);
        font-size: 1.2rem;
        font-weight: 300;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 5px 10px silver;
        cursor: pointer;
        overflow: hidden;
        max-width: 400px;

        &-items {
            @include grid-layout($grid-ta__menu-label);
            grid-template-columns: auto auto;
            width: calc(100% + 60px);
            transition: width 750ms cubic-bezier(0.33, 0, 0.07, 1);
        }

        &-heading {
            grid-area: label-heading;
            line-height: 24px;
            font-size: 1.7rem;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @media (max-width: map-get($breakpoints, mobile-1)) {
                font-size: 1.45rem;
            }
            @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, tablet-3)) {
                font-size: 1.45rem;
            }
            @media (min-width: map-get($breakpoints, tablet-3)) and (max-width: map-get($breakpoints, desktop-1)) {
                font-size: 1.7rem;
            }
            @media (min-width: map-get($breakpoints, desktop-1)) and (max-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.45rem;
            }
            @media (min-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.7rem;
            }
        }

        &-complement {
            grid-area: label-complement;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @media (max-width: map-get($breakpoints, mobile-1)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, tablet-3)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, tablet-3)) and (max-width: map-get($breakpoints, desktop-1)){
                font-size: 1.4rem;
            }
            @media (min-width: map-get($breakpoints, desktop-1)) and (max-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.4rem;
            }
        }

        &-price {
            grid-area: label-price;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 24px;
            justify-self: right;
            margin-right: 70px;
            @media (max-width: map-get($breakpoints, mobile-1)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, tablet-2)) and (max-width: map-get($breakpoints, tablet-3)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, tablet-3)) and (max-width: map-get($breakpoints, desktop-1)) {
                font-size: 1.4rem;
            }
            @media (min-width: map-get($breakpoints, desktop-1)) and (max-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.2rem;
            }
            @media (min-width: map-get($breakpoints, desktop-2)) {
                font-size: 1.4rem;
            }
        }

    }
    &__checkbox {
        grid-area: 1 / 2 / 3 / 3;
        background-color: $color-tertiary;
        width: 60px;
        line-height: 68px;
        height: 68px;
        text-align: center;
        justify-self: right;
        border-radius: 0 20px 20px 0;
        margin: -10px -10px -10px 0;
        &-icon.fas {
            color: #ffffff;
            font-size: 2rem;
            padding: 24px 20px;
            transform: rotate(-270deg);
            transition: transform 550ms;
            transition-delay: 200ms;
        }
    }
}

.menu-section__label {
    &:hover {
        .menu-section__checkbox {
            &-icon.fas {
                transform: rotate(0deg);
            }
        }
        .menu-section__label-items {
            width: 100%;
        }
    }
}

/* BOUTON COMMANDE */
.main__button {
    @include button-description;
    padding: 0 50px;
    justify-self: center;
    margin: 50px 0;
    @include button-hover;
    @media (min-width: map-get($breakpoints, tablet-2)) {
        grid-area: command-button;
    }
}

/* FOOTER */
.footer {
    background-color: #353535;
    color: #ffffff;
    padding: 23px 20px 30px 20px;
    @media (min-width: map-get($breakpoints, desktop-1)) {
        padding: 23px 50px 30px 50px;
    }

    &__heading {
        @include font-family(logo, default);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        padding-bottom: 20px;
        @media (min-width: map-get($breakpoints, tablet-1)) {
            text-align: center;
        }
    }

    &__list {
        list-style: none;
        @media (min-width: map-get($breakpoints, tablet-1)) {
            text-align: center;
        }
        @media (min-width: map-get($breakpoints, desktop-1)) {
            text-align: center;
            display: grid;
            column-gap: 10px;
            grid-template-columns: repeat(4, 1fr);
        }

        &-item {
            @include font-family(text, default);
            padding-bottom: 5px;
            @media (min-width: map-get($breakpoints, desktop-1)) {
            }
        }

        &-icon {
            color: #ffffff;
            height: 15px;
            width: 15px;
            font-size: 1.5rem;
            padding-right: 25px;
        }

        &-link {
            font-size: 1.6rem;
            color: #ffffff;
            line-height: 20px;
        }
    }
}

