@keyframes heart-filling {
  0% {
    background-size: 100% 0;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes loading-spinner {
  0% {
    opacity: 1;
    transform: scale(2);
  }
  95% {
    opacity: 0.9;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
:root {
  font-size: 10px;
  line-height: 1;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000000;
}

/* LOADING SPINNER */
.loading-spinner {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  animation: loading-spinner 3000ms ease-in-out;
}

/* HEADER */
.header {
  display: flex;
  padding: 17.25px 0;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 15px silver;
  position: relative;
  z-index: 2;
}
.header__link.menu-page {
  position: absolute;
  left: 20px;
}
.header__heading {
  font-family: Shrikhand, sans-serif;
  font-size: 3rem;
  line-height: 28.5px;
}
.header__heading.menu-page {
  font-family: Shrikhand, sans-serif;
  font-size: 3rem;
  line-height: 28.5px;
  user-select: none;
}
.header__arrow {
  font-size: 1.8rem;
  color: #000000;
}

/* ACCUEIL - SECTION de RECHERCHE */
.search-section {
  background-color: #f6f6f6;
}
.search-section__form {
  text-align: center;
}
.search-section__form-top {
  background-color: #e9e9e9;
}
@media (min-width: 1024px) {
  .search-section__form-top {
    padding: 0 20%;
  }
}
.search-section__form-icon.fas {
  font-size: 1.5rem;
  line-height: 50px;
}
.search-section__form-input {
  border: none;
  background-color: #e9e9e9;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  width: 40%;
  margin-top: 2px;
}
.search-section__form-input::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.search-section__form-input:focus {
  outline: 2px solid #9356dc;
  color: #6023a9;
  background-color: #f6f6f6;
}
.search-section__form-heading {
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 25px;
  padding: 40px 65px 20px 65px;
}
.search-section__form-description {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 20px;
  padding: 0 20px 30px 20px;
}
.search-section__form-button {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top left, #9356dc 15%, #ff79da 95%);
  box-shadow: 1px 3px 5px silver;
  padding: 0 50px;
  margin-bottom: 57px;
}
.search-section__form-button:hover {
  box-shadow: 2px 5px 5px 1px silver;
  background: linear-gradient(to top left, #ae80e5 10%, #fface8 75%);
}

/* ACCUEIL - SECTION Process */
.process-section__card-1 {
  grid-area: process-section__card-1;
}
.process-section__card-1::before {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  content: "1";
  top: -2.5px;
  left: calc(-25px / 2);
  margin: 24px 0;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.process-section__card-2 {
  grid-area: process-section__card-2;
}
.process-section__card-2::before {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  content: "2";
  top: -2.5px;
  left: calc(-25px / 2);
  margin: 24px 0;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.process-section__card-3 {
  grid-area: process-section__card-3;
}
.process-section__card-3::before {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  content: "3";
  top: -2.5px;
  left: calc(-25px / 2);
  margin: 24px 0;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.process-section {
  background-color: #ffffff;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 66px;
  padding-left: calc((25px / 2) + 20px);
}
@media (min-width: 1024px) {
  .process-section {
    padding-left: calc((25px / 2) + 50px);
    padding-right: 50px;
  }
}
.process-section__heading {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 25px;
  padding-bottom: 30px;
  color: black;
}
.process-section__list {
  display: grid;
  grid-template-areas: "process-section__card-1" "process-section__card-2" "process-section__card-3";
  row-gap: 24px;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .process-section__list {
    display: grid;
    grid-template-areas: "process-section__card-1 process-section__card-1 process-section__card-2 process-section__card-2" ". process-section__card-3 process-section__card-3 .";
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .process-section__list {
    display: grid;
    grid-template-areas: "process-section__card-1 process-section__card-2 process-section__card-3";
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 24px;
  }
}
.process-section__card {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0 5px 10px silver;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  user-select: none;
}
.process-section__card.process-section__card-3 {
  background-color: #f5edff;
}
.process-section__card.process-section__card-3 .process-section__card-icon {
  color: #9356dc;
}
.process-section__card-icon.fas {
  line-height: 25px;
  font-size: 1.5rem;
  color: #666666;
  padding: 0 32.5px 0 7.5px;
  width: 25px;
}

/* ACCUEIL - SECTION PRINCIPALE = LISTE Restaurants */
.restaurant {
  grid-area: restaurants;
}
.restaurant-section {
  background-color: #f6f6f6;
  display: grid;
  grid-template-areas: "restaurants" "restaurant-article-1" "restaurant-article-2" "restaurant-article-3" "restaurant-article-4";
  row-gap: 18px;
  padding: 58px 20px 64px 20px;
}
@media (min-width: 540px) and (max-width: 1440px) {
  .restaurant-section {
    display: grid;
    grid-template-areas: "restaurants restaurants" "restaurant-article-1 restaurant-article-2" "restaurant-article-3 restaurant-article-4";
    gap: 18px;
  }
}
@media (min-width: 1024px) {
  .restaurant-section {
    display: grid;
    grid-template-areas: "restaurants restaurants restaurants restaurants" "restaurant-article-1 restaurant-article-2 restaurant-article-3 restaurant-article-4";
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 0;
    padding: 58px 50px 64px 50px;
  }
}
.restaurant__heading {
  font-family: Roboto, sans-serif;
  line-height: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 8px;
}
.restaurant-article.restaurant-article-1 {
  grid-area: restaurant-article-1;
}
.restaurant-article.restaurant-article-2 {
  grid-area: restaurant-article-2;
}
.restaurant-article.restaurant-article-3 {
  grid-area: restaurant-article-3;
}
.restaurant-article.restaurant-article-4 {
  grid-area: restaurant-article-4;
}
.restaurant-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 3px 8px 1px silver;
  cursor: pointer;
}
.restaurant-card__img {
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-card__new {
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 2;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 29px;
  width: 81px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #278870;
}
.restaurant-card__info {
  display: grid;
  grid-template-areas: "restaurant-card__name . restaurant-card__like" "restaurant-card__place . restaurant-card__like";
  grid-template-columns: auto 1fr auto;
  padding: 12px;
}
.restaurant-card__name {
  grid-area: restaurant-card__name;
  font-family: Roboto, sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 25px;
  padding-top: 3px;
}
.restaurant-card__place {
  grid-area: restaurant-card__place;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 5px;
}
.restaurant-card__icon.heart-icon__empty {
  position: absolute;
  border: none;
  font-size: 2.5rem;
  font-weight: 100;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  padding: 0 11px;
  line-height: 53px;
}
.restaurant-card__icon.heart-icon__full {
  position: absolute;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: transparent;
  padding: 0 11px;
  line-height: 53px;
}
.restaurant-card__like {
  grid-area: restaurant-card__like;
  position: relative;
  right: 40px;
}
.restaurant-card__like:hover .heart-icon__empty {
  transition: opacity 200ms;
  transition-delay: 300ms;
  opacity: 0;
}
.restaurant-card__like:hover .heart-icon__full {
  background: radial-gradient(#ff79da 10%, #9356dc 40%);
  -webkit-background-clip: text;
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: heart-filling 600ms linear;
}

/* PAGES MENU - MAIN */
.starters-section__label-price,
.plates-section__label-price,
.desserts-section__label-price {
  display: inline-block;
}

/* PAGES MENU - MAIN - Header */
.main {
  padding-bottom: 33px;
  background-color: #f6f6f6;
}
.main-header__img {
  height: 257px;
  object-fit: cover;
  margin-bottom: -37px;
}
.main-header__menu-header {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 37px 37px 0 0;
  position: relative;
  z-index: 10;
  padding: 37px 37px 0 20px;
}
@media (min-width: 800px) {
  .main-header__menu-header {
    padding: 37px 87px 0 50px;
  }
}
.main-header__restaurant-name {
  font-family: Shrikhand, sans-serif;
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 25px;
}
@media (max-width: 360px) {
  .main-header__restaurant-name {
    font-size: 2.3rem;
  }
}
.main-header__icon.heart-icon__empty {
  position: absolute;
  border: none;
  font-size: 2.5rem;
  font-weight: 100;
  cursor: pointer;
  color: #000000;
  right: 0;
  background-color: #f6f6f6;
  line-height: 25px;
}
.main-header__icon.heart-icon__full {
  position: absolute;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: transparent;
  right: 0;
  line-height: 25px;
}
.main-header__like {
  position: relative;
}
.main-header__like:hover .heart-icon__empty {
  transition: opacity 200ms;
  transition-delay: 300ms;
  opacity: 0;
}
.main-header__like:hover .heart-icon__full {
  background: radial-gradient(#ff79da 10%, #9356dc 40%);
  -webkit-background-clip: text;
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  animation: heart-filling 600ms linear;
}

.menu-form {
  display: grid;
  grid-template-areas: "starters-section" "plates-section" "desserts-section";
  padding: 0 12px 0 14px;
}
@media (min-width: 620px) and (max-width: 1024px) {
  .menu-form {
    display: grid;
    grid-template-areas: "starters-section starters-section plates-section plates-section" ". desserts-section desserts-section ." ". command-button command-button .";
    grid-template-columns: repeat(4, 1fr);
    column-gap: 14px;
  }
}
@media (min-width: 800px) {
  .menu-form {
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  .menu-form {
    display: grid;
    grid-template-areas: "starters-section plates-section desserts-section" ". command-button .";
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
  }
}

.starters-section__heading {
  grid-area: starters-section__heading;
}
.starters-section__label-1 {
  grid-area: starters-section__label-1;
  animation: menu-animation 1s both;
  animation-delay: 100ms;
}
.starters-section__label-2 {
  grid-area: starters-section__label-2;
  animation: menu-animation 1s both;
  animation-delay: 100ms;
}
.starters-section__label-3 {
  grid-area: starters-section__label-3;
  animation: menu-animation 1s both;
  animation-delay: 100ms;
}
.starters-section__label-4 {
  grid-area: starters-section__label-4;
  animation: menu-animation 1s both;
  animation-delay: 100ms;
}

.plates-section__heading {
  grid-area: plates-section__heading;
}
.plates-section__label-1 {
  grid-area: plates-section__label-1;
  animation: menu-animation 1s both;
  animation-delay: 400ms;
}
.plates-section__label-2 {
  grid-area: plates-section__label-2;
  animation: menu-animation 1s both;
  animation-delay: 400ms;
}
.plates-section__label-3 {
  grid-area: plates-section__label-3;
  animation: menu-animation 1s both;
  animation-delay: 400ms;
}

.desserts-section__heading {
  grid-area: desserts-section__heading;
}
.desserts-section__label-1 {
  grid-area: desserts-section__label-1;
  animation: menu-animation 1s both;
  animation-delay: 700ms;
}
.desserts-section__label-2 {
  grid-area: desserts-section__label-2;
  animation: menu-animation 1s both;
  animation-delay: 700ms;
}
.desserts-section__label-3 {
  grid-area: desserts-section__label-3;
  animation: menu-animation 1s both;
  animation-delay: 700ms;
}

.menu-section {
  border: none;
}
.menu-section.starters-section {
  grid-area: starters-section;
  display: grid;
  grid-template-areas: "starters-section__heading" "starters-section__label-1" "starters-section__label-2" "starters-section__label-3";
  row-gap: 14px;
}
.menu-section.starters-section.special {
  grid-area: starters-section;
  display: grid;
  grid-template-areas: "starters-section__heading" "starters-section__label-1" "starters-section__label-2" "starters-section__label-3" "starters-section__label-4";
  row-gap: 14px;
}
.menu-section.plates-section {
  grid-area: plates-section;
  display: grid;
  grid-template-areas: "plates-section__heading" "plates-section__label-1" "plates-section__label-2" "plates-section__label-3";
  row-gap: 14px;
}
@media (min-width: 620px) and (max-width: 1024px) {
  .menu-section.plates-section.special {
    grid-template-areas: "plates-section__heading" "plates-section__label-1" "plates-section__label-2" "plates-section__label-3" ".";
    grid-template-rows: auto repeat(4, 1fr);
  }
}
.menu-section.desserts-section {
  grid-area: desserts-section;
  display: grid;
  grid-template-areas: "desserts-section__heading" "desserts-section__label-1" "desserts-section__label-2" "desserts-section__label-3";
  row-gap: 14px;
}
@media (min-width: 1024px) {
  .menu-section.desserts-section.special {
    grid-template-areas: "desserts-section__heading" "desserts-section__label-1" "desserts-section__label-2" "desserts-section__label-3" ".";
    grid-template-rows: auto repeat(4, 1fr);
  }
}
.menu-section__heading {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 34px 0 0 6px;
  line-height: 30px;
  height: 67px;
}
.menu-section__heading::after {
  display: block;
  content: "";
  height: 0;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu-section input {
  display: none;
}
.menu-section__label {
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 10px silver;
  cursor: pointer;
  overflow: hidden;
  max-width: 400px;
}
.menu-section__label-items {
  display: grid;
  grid-template-areas: "label-heading ." "label-complement label-price";
  grid-template-columns: auto auto;
  width: calc(100% + 60px);
  transition: width 750ms cubic-bezier(0.33, 0, 0.07, 1);
}
.menu-section__label-heading {
  grid-area: label-heading;
  line-height: 24px;
  font-size: 1.7rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 360px) {
  .menu-section__label-heading {
    font-size: 1.45rem;
  }
}
@media (min-width: 620px) and (max-width: 720px) {
  .menu-section__label-heading {
    font-size: 1.45rem;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .menu-section__label-heading {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .menu-section__label-heading {
    font-size: 1.45rem;
  }
}
@media (min-width: 1220px) {
  .menu-section__label-heading {
    font-size: 1.7rem;
  }
}
.menu-section__label-complement {
  grid-area: label-complement;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 360px) {
  .menu-section__label-complement {
    font-size: 1.2rem;
  }
}
@media (min-width: 620px) and (max-width: 720px) {
  .menu-section__label-complement {
    font-size: 1.2rem;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .menu-section__label-complement {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .menu-section__label-complement {
    font-size: 1.2rem;
  }
}
@media (min-width: 1220px) {
  .menu-section__label-complement {
    font-size: 1.4rem;
  }
}
.menu-section__label-price {
  grid-area: label-price;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 24px;
  justify-self: right;
  margin-right: 70px;
}
@media (max-width: 360px) {
  .menu-section__label-price {
    font-size: 1.2rem;
  }
}
@media (min-width: 620px) and (max-width: 720px) {
  .menu-section__label-price {
    font-size: 1.2rem;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .menu-section__label-price {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1220px) {
  .menu-section__label-price {
    font-size: 1.2rem;
  }
}
@media (min-width: 1220px) {
  .menu-section__label-price {
    font-size: 1.4rem;
  }
}
.menu-section__checkbox {
  grid-area: 1/2/3/3;
  background-color: #99e2d0;
  width: 60px;
  line-height: 68px;
  height: 68px;
  text-align: center;
  justify-self: right;
  border-radius: 0 20px 20px 0;
  margin: -10px -10px -10px 0;
}
.menu-section__checkbox-icon.fas {
  color: #ffffff;
  font-size: 2rem;
  padding: 24px 20px;
  transform: rotate(-270deg);
  transition: transform 550ms;
  transition-delay: 200ms;
}

.menu-section__label:hover .menu-section__checkbox-icon.fas {
  transform: rotate(0deg);
}
.menu-section__label:hover .menu-section__label-items {
  width: 100%;
}

/* BOUTON COMMANDE */
.main__button {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top left, #9356dc 15%, #ff79da 95%);
  box-shadow: 1px 3px 5px silver;
  padding: 0 50px;
  justify-self: center;
  margin: 50px 0;
}
.main__button:hover {
  box-shadow: 2px 5px 5px 1px silver;
  background: linear-gradient(to top left, #ae80e5 10%, #fface8 75%);
}
@media (min-width: 620px) {
  .main__button {
    grid-area: command-button;
  }
}

/* FOOTER */
.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 23px 20px 30px 20px;
}
@media (min-width: 1024px) {
  .footer {
    padding: 23px 50px 30px 50px;
  }
}
.footer__heading {
  font-family: Shrikhand, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 20px;
}
@media (min-width: 540px) {
  .footer__heading {
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
@media (min-width: 540px) {
  .footer__list {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .footer__list {
    text-align: center;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__list-item {
  font-family: Roboto, sans-serif;
  padding-bottom: 5px;
}
.footer__list-icon {
  color: #ffffff;
  height: 15px;
  width: 15px;
  font-size: 1.5rem;
  padding-right: 25px;
}
.footer__list-link {
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 20px;
}

/*# sourceMappingURL=style.css.map */
